[Unit]
Description=OpenLDAP Server
After=network.target

[Service]
Type=simple
User=openldap
Group=openldap
ExecStart=/usr/local/libexec/slapd -F /usr/local/etc/slapd.d
PIDFile=/usr/local/var/run/slapd/slapd.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target